loaddefs.el*
backups/*
machines/*
server/*
tutorial/*
vendor/.emacsregisters.el
auto-save-list
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
tramp
org-clock-save.el
.org-id-locations
\#*
