[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule "vendor/perspective.el"]
	path = vendor/perspective.el
	url = http://github.com/nex3/perspective-el.git
[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = git@github.com:senny/rvm.el.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = http://github.com/pezra/rspec-mode.git
[submodule "vendor/theme-roller"]
	path = vendor/theme-roller
	url = git@github.com:senny/emacs-theme-roller.git
[submodule "vendor/theme-roller.el"]
	path = vendor/theme-roller.el
	url = git@github.com:senny/theme-roller.el.git
[submodule "vendor/cucumber.el"]
	path = vendor/cucumber.el
	url = http://github.com/michaelklishin/cucumber.el.git
